<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Sin Demo - Tweets</title>
  </head>
  <body>
	<h1 align="center">Search My Tweets Index</h1>
	<p>
		Hits: {{result.numHits}} / {{result.totalDocs}}
	</p>
	<form name="searchForm" method="post" action="/tweets/search/">{% csrf_token %}

		<input type="text" name="query" size="70" />
		<input type="submit" value="Search" />		
	</form>
	<p>
		<div id="authors">
			Top Authors:
			<ul>
				{% for facet in result.facetMap.authorname %}
				<li>{{facet.value}} ({{facet.count}})</li>
				{% endfor %}
			</ul>
		</div>
		<div id="hits">
		<table border="1" width="100%">
			<tr>

				<th>profile-img</th>
				<th>author-id</th>
				<th>author-name</th>
				<th>created-time</th>
				<th>text</th>
			</tr>
		{% for hit in result.hits %}
		  <tr>
			<td><img src="{{ hit.srcData.profileimg }}"/></td>
			<td>{{ hit.srcData.authorid }}</td>
			<td>{{ hit.srcData.authorname }}</td>
			<td>{{ hit.srcData.createdtime }}</td>
			<td>{{ hit.srcData.text }}</td>
		  </tr>
		{% endfor %}
		</table>
		</div>
	</p>
  </body>
</html>
