{% extends "base.html" %}
{% load url from future %}

{% block content %}
  <p>Sin is open-source and is written to make application developer&apos;s life easier.</p>
  <p>
     To make Sin successful, help from the community is important.
  </p>

  <h3>Ready to commit some "Sins"?</h3>
  <p>
     By contributing, you get good karma by committing "sins" ;)
  </p>
  <h1>Developer setup</h1>
  <p>
	Follow instructions on this wiki to get setup:
	<a href="http://linkedin.jira.com/wiki/display/SIN/Developer+Setup">http://linkedin.jira.com/wiki/display/SIN/Developer+Setup</a>
  </p>

   <h1>Wiki</h1>

   <p>
   	Wiki space for learning more about Sin:
	<a href="http://linkedin.jira.com/wiki/display/SIN/Home">http://linkedin.jira.com/wiki/display/SIN/Home</a>
   </p>

   <h1>Bugs</h1>
   <p>
	We use jira to track issues:
	<a href="http://linkedin.jira.com/browse/SIN">http://linkedin.jira.com/browse/SIN</a>
   </p>
{% endblock %}
