{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h3>Python Client:</h3>
<ul>
<li>Source Distribution:
	<a href="http://senseidb.github.com/sin/downloads/sin-python-client-0.1-SNAPSHOT.tar.gz">http://senseidb.github.com/sin/downloads/sin-python-client-0.1-SNAPSHOT.tar.gz</a>
</li>
<li>Binary Distribution (Max OSX):
  <a href="http://senseidb.github.com/sin/downloads/sin-python-client-0.1-SNAPSHOT.macosx-10.6-universal.tar.gz">http://senseidb.github.com/sin/downloads/sin-python-client-0.1-SNAPSHOT.macosx-10.6-universal.tar.gz</a>
</li>
</ul>

<h3>Java Client:</h3>
Coming soon...
{% endblock %}
