{% extends "base.html" %}
{% load url from future %}

{% block content %}
  <h2>Quick Start:</h2>
  <ul>
	<li>Create a new store from the <a href="/static/dashboard.html">Dashboard</a>, with a name, say myidx</li>
	<li>Start the store</li>
	<li>Submit a doc to it by:
		<pre><code>curl -X POST 'http://sinHost:sinPort/store/add-docs/myidx' -d 'docs=[{"id":1,"contents":"sin is awesome"}]' -i</code></pre>
	</li>
	<li>Refresh the <a href="/static/dashboard.html">Dashboard</a>, you should see store size increased</li>
	<li>Now you can search using the Search Endpoint, e.g.
		<pre><code>
curl -X GET 'http://searchHost:searchPort/sensei?q=awesome&amp;start=0&amp;rows=10&amp;fetchstored=true' -i
		</code><pre>
	</li> 
  </ul>

  <h2>Want more?</h2>
  <p>
	Checkout the <a href="/static/docs.html">Documentation</a> and learn the Sinful ways.
  </p>
{% endblock %}
