<html xmlns:og="http://ogp.me/ns#">
<head>
	<title>Sin - search as service</title>
	<link rel="icon" type="image/png" href="images/sin-small.png"/>
	<meta name="description" content="sin is a service for you to build sophisticated search applications"/>
	<meta name="keywords" content="search,realtime,sin,indexing,opensource,zoie,bobo,sensei,lucene" />
	<meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
	<meta property="og:title" value="sin" />
	<meta property="og:image" value="http://wonlay.github.com/sin/images/sin_logo.png" />
	<meta property="og:description" value="sin is a service for you to build sophisticated search applications" />
	<meta property="og:site_name" value="github" />
	<meta property="og:type" value="website" />
	
	<link rel="stylesheet" href="http://wonlay.github.com/sin/styles/twitter-bootstrap.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="http://wonlay.github.com/sin/styles/prettify.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="http://wonlay.github.com/sin/styles/style.css" type="text/css" media="screen"/>
	<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	<script src="{{ STATIC_URL }}/js/app.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript" charset="utf-8">
		function renderSnippet(page,src){
			$("#content-frame").attr("src",page);
			$('.active').removeClass('active');
			$(src).parent('li').addClass('active');
		};
		
	</script>
</head>

<body style="background-color:#d9ecf5">
	<a href="http://github.com/wonlay/sin"><img style="position: absolute; top: 40; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
	<img style="position: absolute; top: 40; left: 20; border: 0;" src="http://wonlay.github.com/sin/images/sin_logo_norm.png" width="149" height="149"/>
        <div class="topbar-wrapper"> 
            <div class="topbar"> 
              <div class="topbar-inner"> 
                <div class="container"> 
                  <h3><a href="#">Sin</a></h3> 
                  <ul class="nav"> 
                    <li class="active"><a href="#" onclick="renderSnippet('http://wonlay.github.com/sin/home.html',this)">Home</a></li> 
                    <li><a href="#" onclick="renderSnippet('/mydash',this)">Dashboard</a></li> 
                    <li><a href="#" onclick="renderSnippet('http://wonlay.github.com/sin/downloads.html',this)">Downloads</a></li> 
                    <li><a href="#" onclick="renderSnippet('http://wonlay.github.com/sin/getstarted.html',this)">Get Started</a></li>
                    <li><a href="#" onclick="renderSnippet('http://wonlay.github.com/sin/api.html',this)">API</a></li>
                    <li><a href="#" onclick="renderSnippet('http://wonlay.github.com/sin/docs.html',this)">Documentation</a></li> 
                    <li><a href="#" onclick="renderSnippet('http://wonlay.github.com/sin/developer.html',this)">Developers</a></li>
                    <li><a href="#" onclick="renderSnippet('http://wonlay.github.com/sin/team.html',this)">Team</a></li>
                  </ul> 
                  <ul class="nav secondary-nav"> 
                    <li class="dropdown"> 
                      <a href="#" class="dropdown-toggle">Resources</a> 
                      <ul class="dropdown-menu"> 
                        <li><a href="http://github.com/wonlay/sin">Source</a></li> 
                        <li><a href="http://linkedin.jira.com/wiki/display/SIN">Wiki Space</a></li>
                        <li class="divider"></li> 
                        <li><a href="http://linkedin.jira.com/browse/SIN">Bugs</a></li>
                        <li><a href="http://groups.google.com/group/sin-users">Mailing List</a></li> 
						<li><a href="http://www.apache.org/licenses/LICENSE-2.0.html">License (APL v2.0)</a></li>
                        <li class="divider"></li>
						<li><a href="#">Login</a></li>
                      </ul> 
                    </li> 
                  </ul> 
                </div> 
              </div><!-- /topbar-inner --> 
            </div><!-- /topbar --> 
          </div><!-- /topbar-wrapper -->

			<iframe class="well" id="content-frame" src="home.html" width="900" height="600" style="position: absolute; top: 70; left: 200; right:200; border: 0; margin-left:auto; margin-right:auto">
			  <p>Your browser does not support iframes.</p>
			</iframe>
		</div>
		
</body>
</html>
