{% extends "userbase.html" %}
{% load url from future %}

{% block content %}
<div class="container" style="padding-top:30px;padding-bottom:30px">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
<div class="row">
	<div class="span3 columns" style="margin-bottom:10px">
		{{ form.username.label_tag }}
	</div>
	<div class="span8 columns">
		{{ form.username }}
	</div>
</div>
<div class="row">
	<div class="span3 columns">
		{{ form.password.label_tag }}
	</div>
	<div class="span8 columns">
		{{ form.password }}
	</div>
</div>

<input style="margin-left:10px;margin-top:20px" type="submit" class="btn primary" value="login" />
<a href="{% url 'views.register' %}?next={{ next }}">Register</a>
<input type="hidden" name="next" value="{{ next }}" />
</form>

</div>
{% endblock %}
