{% extends "userbase.html" %}
{% load url from future %}

{% block content %}

<div class="container" style="padding-top:30px;padding-bottom:30px">
{{ form.non_field_errors }}

<form method="post" action="{% url 'register' %}">
	<div class="row">
		<div class="span3 columns" style="margin-bottom:15px">
			{{ form.username.label_tag }}
		</div>
		<div class="span8 columns">
			{{ form.username }}  {{ form.username.errors }}
		</div>
	</div>
	<div class="row">
		<div class="span3 columns" style="margin-bottom:15px">
			{{ form.password1.label_tag }}
		</div>
		<div class="span8 columns">
			{{ form.password1 }}  {{ form.password1.errors }}
		</div>
	</div>
	
	<div class="row">
		<div class="span3 columns" style="margin-bottom:15px">
			{{ form.password2.label_tag }}
		</div>
		<div class="span8 columns">
			{{ form.password2 }} {{ form.password2.errors }}
		</div>
	</div>
	
<input style="margin-left:60px;margin-top:20px" class="btn primary" type="submit" value="register" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}

