{% extends "base.html" %}
{% load url from future %}

{% block content %}
  <table width="100%">
    <tr><td><img src="http://media03.linkedin.com/mpr/mpr/shrink_80_80/p/3/000/04a/398/16357af.jpg"/></td> 
	    <td>Alejandro Crosa</td> 
	    <td><a href="http://www.linkedin.com/in/alejandrocrosa">http://www.linkedin.com/in/alejandrocrosa</td>
	</tr>
	<tr><td><img src="http://media02.linkedin.com/mpr/mpr/shrink_100_100/p/1/000/086/04a/3e1082e.jpg"/></td> 
	    <td>Baoqiu Cui</td> 
	    <td><a href="http://www.linkedin.com/in/cbaoqiu">http://www.linkedin.com/in/cbaoqiu</td>
	</tr>
	<tr><td><img src="http://media01.linkedin.com/mpr/mpr/shrink_100_100/p/1/000/08b/33b/012b4d3.jpg"/></td> 
	    <td>John Wang</td> 
	    <td><a href="http://www.linkedin.com/in/javasoze">http://www.linkedin.com/in/javasoze</td>
	</tr>
	<tr><td><img src="http://media03.linkedin.com/mpr/mpr/shrink_100_100/p/2/000/005/111/3c20888.jpg"/></td> 
	    <td>Lei Wang</td> 
	    <td><a href="http://www.linkedin.com/in/wonlay">http://www.linkedin.com/in/wonlay</td>
	</tr>
	<tr><td><img src="http://media03.linkedin.com/mpr/mpr/shrink_100_100/p/2/000/0a8/1cd/3223949.jpg"/></td> 
	    <td>Sheng Guo</td> 
	    <td><a href="http://www.linkedin.com/in/shengguo">http://www.linkedin.com/in/shengguo</td>
	</tr>
  </table>
{% endblock %}
