.store-container,
.display-row.header,
.columns,
.add-new-column,
.facets,
.add-new-facet
{
  margin-left: 10px;
}

.table {
  display: table;
}

.cell {
  display: table-cell;
}

.display-row {
  width: 450px;
  height: 22px;
}

.display-row .cell {
  width: 150px;
}

.display-row.header,
.display-row.header div,
.add-new-column,
.add-new-facet,
.add-new-column div,
.add-new-facet div,
.facets div,
.columns div
{
  padding-bottom: 0px;
}

.display-row.header .cell {
  background: #3B424B;
}

.display-row.header .display-op {
  background: #3B424B; !important;
}

.display-op {
  width: 150px !important;
}

.cell .op {
  display: none;
}

.indicator {
  display: none;
  border: none;
  width: 13px;
  height: 13px;
}

